@import './generales/tipografia' ;
@import './generales/reset' ;
@import './recursos/header';
@import './recursos/body' ;
@import './recursos/footer' ;
@import './heramientas/grids' ;
@import './heramientas/media-queries' ;
@import './heramientas/animaciones';
@import './recursos/iframes' ;
@import './recursos/images' ;


