body {

    background-color: #d9d9d9;

    .acordeon {
        margin: 20px;
    }

    .parrafo--index {
        text-align: center;
        padding: 50px;
    }

    .carrusel img {
        width: 300px;
        height: auto;
    }

    .parrafo--galeria {
        text-align: center;
    }


    .imagen--acerca {
        display: flex;
        justify-items: center;
        align-items: center;
        padding: 50px;

    }

    .emotes {
        text-align: center;
        padding: 50px;
    }

    .emotes h1 {
        background-color: aqua;
    }
}
section{
    .grid-emotes{
        align-self: center;
        justify-content: center;
    }
}
h1{
    padding: 50px
}

#logo-index{
    padding: 20px;
    width: 400px;
}

#contacto{
    min-height: 100vh;
}

.formulario{
      
display: flex;
justify-content: center;
align-self: center;
flex-wrap: wrap;
border: 5px solid black;
padding: 100px;
margin: 100px; 
h4{
font-family: "Lato" ;
}
}
